if is_post()
    if theme.duoshuo
        script(src='/scripts/ua-parser.min.js?v=0.7.9')
        script(src="/scripts/hook-duoshuo.js")
//-  if is_post()
//- Visibility
script(src="/scripts/visibility.js")
script(src="/scripts/lazy.js")
- var lazyAttr = config.marked.lazyAttr || 'data-src';
script 
    != 'echo.lazyAttr = \"' + lazyAttr + '\";'
script.
    echo.init({
        offsetBottom: 400,
        throttle: 200,
        unload: true,
        callback: function (element, op) {}
    });
    document.addEventListener('DOMContentLoaded', function () {
        echo.render();
    }, false);
//- Analytics tracking
- var ga = theme.ga
if ga
    script.
        if (!/^http:\/\/localhost/.test(location.href) && !/_@_@_@=#\$#\$#\$/.test(document.cookie)) {
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='https://www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','#{ga}','auto');ga('send','pageview');
        }
//- Baidu Analytics
- var ba = theme.ba
if ba 
    script.
        if(!/^http:\/\/localhost/.test(location.href)){
            var _hmt = _hmt || [];
            (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?#{ba}";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
            })();
        }
//- leanCloud
- var app_id = theme.leancloud_visitors.app_id
- var app_key = theme.leancloud_visitors.app_key
- var show = theme.leancloud_visitors.enable
if show
    script(src="https://cdn1.lncld.net/static/js/av-min-1.2.1.js")
    script(src="/scripts/lean-analytics.js")
    script.
        AV.init({
            appId: '#{app_id}',
            appKey: '#{app_key}'
        });