<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= config.since%> - <%= date(new Date(), 'YYYY') %> <i class="icon-next-heart fa fa-heart"></i>
            <%= config.author || config.title %> | 
            <a href="http://www.miitbeian.gov.cn/" rel="nofollow"  class="theme-link" target="_blank"><%= config.beian %></a>
            <br>
             Powered by <a href="http://hexo.io/" rel="nofollow"  target="_blank">Hexo</a>. Theme by <a rel="nofollow"  href="http://github.com/ppoffice" target="_blank">PPOffice</a> 
        </div>
    </div>
</footer>