/* Webfont: Lato-Regular */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-reg-webfont-g.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/lato-reg-webfont-g.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont-g.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont-g.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bol-webfont-g.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/lato-bol-webfont-g.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bol-webfont-g.woff') format('woff'),
         url('../fonts/lato/lato-bol-webfont-g.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Italic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regita-webfont-g.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/lato-regita-webfont-g.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regita-webfont-g.woff') format('woff'),
         url('../fonts/lato/lato-regita-webfont-g.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-BoldItalic */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regita-webfont-g.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/lato-regita-webfont-g.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regita-webfont-g.woff') format('woff'),
         url('../fonts/lato/lato-regita-webfont-g.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
