
#ds-reset .duoshuo-ua-platform, #ds-reset .duoshuo-ua-browser{
    color:#ccc;
    padding-right: 10px;
    i{
        padding-right:3px;
    }
}
#ds-thread #ds-reset a.ds-comment-context{
    background: #f7f7f7;
    padding: 5px 10px;
    color: #555!important;
    margin-right: 5px!important;
    font-size: 12px;
}