<span class="article-date">
    <i class="icon icon-calendar"></i>
	<a href="<%- url_for(post.path) %>" class="<%= class_name %>">
	  <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'YYYY/M/D') %></time>
	</a>
</span>