.archive {
    max-width: 600px;
    margin: 20px auto;

    h2, h3 {
        margin: 5px 0;
    }

    .post-item {
        overflow: hidden;
        padding: 2px 0 0 30px;
        span {
            float: right;
            font-size: 14px;
            color: #bbb;
            margin-left: 10px;
        }
    }
    .post-time,
    .post-title-link {
        font-size: 1em;
    }
    .post-title-link {
        float: left;
        color: #42b983;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75%;
        padding-right: 10px;
        &:hover {
            border-bottom: 0;
            color: #267B54;
        }
    }
    .post-info {
        float: left;
        width: 125px;
        color: #7f8c8d;
    }
}


@media screen and (max-width: 700px) {
    .archive {
        h2, h3 {
            margin: 0;
        }

        .post-item {
            span, .post-title-link {
                width: 100%;
                max-width: 100%;
                white-space: normal;
            }
        }
    }
}