footer {
    padding-bottom: 1px;
    .copyright {
        margin: 4em 0;
        border-top: 1px solid #ddd;
        text-align: center;
        p, a {
            color: #aaa;
            font-size: 14px;
            font-weight: 100;
        }
        a:hover {
            color: #888;
        }
    }
}
@media screen and (max-width: 700px) {
    footer .copyright {
        padding: 1.5em 2em;
    }
}