.home.post-list {
    margin: 5px 0 10px;
    .post-list-item {
        padding-bottom: 1.2em;
        margin-bottom: 1.2em;
        position:relative;
        // border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 10px;
        }
        h2 {
            margin: 0;
        }

    }
    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
    }
    .read-more {     
        color: #42b983;
    }
}