section.container {
    // margin: 2em 10px;
    padding: 0 15px;
}

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    header, footer {
        flex-shrink: 0;
    }

    .container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;

        .post-list,
        .archive {
            flex: 1;
        }

        .paginator {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width: 700px) {
    .wrap {
        width: 700px;
        margin: 0 auto;
    }
    header {
        padding: 20px 100px;
    }
}

@media screen and (max-width: 700px) {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(150,150,150, .8);
    }
    
    .wrap {
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;
    }
    header {
        padding: 12px 0;
        a.logo-link,
        ul.nav.nav-list {
            float: none;
            display: block;
            text-align: center;
        }
        li.nav-list-item {
            padding: 10px 10px;
        }
    }
    section.container,
    .home.post-list,
    .archive {
        margin-top: 0;
    }
    .archive .post-item {
        padding: 0 15px;
        margin-bottom: 5px;
    }
    .post-content {
        h2, h3, h4, h5, h6 {
            max-width: 300px;
            margin-left: 15px;
        }
    }
    .ds-thread,
    #disqus_thread {
        margin: 2em 10px;
    }
}