.posts-expand {
  .post-eof {
    display: block;
    margin: 50px auto 80px -5%;
    width: 110%;
    height: 1px;
    background: $grey-light;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof {
    display: none;
  }
}
