<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            <a href="http://www.miitbeian.gov.cn/" class="theme-link" target="_blank"><%= config.beian %></a>
            <br>
            &copy; <%= config.since%> - <%= date(new Date(), 'YYYY') %> <i class="icon-next-heart fa fa-heart"></i>
            <%= config.author || config.title %>
            <!-- Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a> -->
        </div>
    </div>
</footer>